.flake {
  width: 0.1%;
  color: #fffafa;
  opacity: 0;
  font-size: 150px;
  margin: 0;
  padding: 0;
  animation: fall 16s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 97vh);
    opacity: 0;
  }
}
